.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.secondary-color {
    color: #006eae !important;
    font-weight: lighter !important;
}

.image-container img {
    width: 50%;
    height: auto;
}

.tab-border {
    border-radius: 10px;
}

.nav-tabs .nav-link:not(.active) {
    background-color: #c0c2c1;
    color: black;
}

.nav-tabs .nav-link.active {
    background-color: #0D6EFD;
    color: white;
}
